<form action="/submit" method="post">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="url">URL:</label><br>
  <input type="text" id="url" name="url"><br>
  <input type="submit" value="Submit">
</form>

<% folders.forEach(folder => { %>
  <p><%= folder.path %></p>
  <% if (Array.isArray(folder.subfolders) && folder.subfolders.length > 0) { %>
    <% folder.subfolders.forEach(subfolder => { %>
      <p><%= subfolder.subfolderPath %></p>
    <% }); %>
  <% } %>
<% }); %>