<form action="/submit" method="post">
    <label for="videoName">Video Name:</label><br>
    <input type="text" id="videoName" name="videoName"><br>
    <label for="url">URL:</label><br>
    <input type="text" id="url" name="url"><br>
    <label for="location">Location:</label><br>
    <input type="text" id="location" name="location" value="<%= location %>"><br>
    <label for="counter">Counter:</label><br>
    <input type="text" id="counter" name="counter" value="<%= counter %>"><br>
    <input type="submit" value="Submit">
</form>
